.signup-container
  %header.signup-header
    %h1
      = link_to root_path do
        = image_tag 'fmarket_logo_white.svg'

  %main.signup-main
  %section.signup-main__container
    %h2.signup-main__head.signup-main__head--registration
      新規会員登録
    .signup-main__inner.signup-main__inner--registration-form
      .signup-main__content
        = link_to registration_signup_index_path, class: 'signup-main__btn-default signup-main__btn-mail',style:'color:white' do
          //= icon 'far', 'envelope'
          メールアドレスで登録する
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--facebook{id: 'signup-main__facebook-login' }
          = link_to user_facebook_omniauth_authorize_path, style:'color:white' do
            Facebookで登録する
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--google{ id: 'signup-main__google-login' }
          = link_to user_google_oauth2_omniauth_authorize_path, style:'color:black' do
            Googleで登録する
  %form

  .signup-footer
    %nav
      %ul.clearfix
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            メルカリ利用規約
        %li
          = link_to root_path do
            特定商取引に関する表記
    = link_to root_path, class: 'signup-footer__logo' do
      = image_tag 'fmarket_logo_white.svg', alt: 'mercari', height: '65', width: '80'
    %p
      %small
        © 2019 Mercari 

