= render "shared/header"
%main 
  .l-container.cleafix
    = render "shared/sideber"
    -# フォーム部分
    %main.signup-main
      %section.signup-main__container
        %h2.signup-main__head.signup-main__head--registration
          本人情報の登録
        = form_for @user, url: creditcard_signup_index_path, method: 'GET', class: 'signup-main__inner signup-main__inner--registration-form' do |f|
          .signup-main__content
            %div
              %p
                お客さまの本人情報をご登録ください。
                %br>/
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.text-right
                = link_to '#' do
                  本人確認書類のアップロードについて
            .form-group
              %label お名前
              %p メルカリ 太朗
            .form-group
              %label お名前カナ
              %p メルカリ タロウ
            .form-group
              %label{for: "birthday"} 生年月日
              %p 2019/11/30
            .signup-main__form-group
              = f.label '郵便番号'
              %span.signup-main__form-arbitrary 任意
              = f.text_field :zip_code1, { class: 'signup-main__input-default', placeholder: '例) 123-4567', value: '' }

            .signup-main__form-group
              = f.label '都道府県'
              %span.signup-main__form-arbitrary 任意
            .select-wrap
              = collection_select :person, :prefecture_id, Prefecture.all, :id, :name
            .signup-main__form-group
              = f.label '市区町村'
              %span.signup-main__form-arbitrary 任意
              = f.text_field :city, { class: 'signup-main__input-default', placeholder: '例) 横浜市緑区' , value: ''}
          
            .signup-main__form-group
              = f.label '番地'
              %span.signup-main__form-arbitrary 任意
              = f.text_field :address1, { class: 'signup-main__input-default', placeholder: '例) 青山1−1−1' , value: ''}
          
            .signup-main__form-group
              = f.label '建物名'
              %span.signup-main__form-arbitrary 任意
              = f.text_field :address2, { class: 'signup-main__input-default', placeholder: '例) 柳ビル103' , value: ''}

            .signup-main__form-group
              %div
              = f.submit '登録する', class: 'signup-main__btn-default signup-main__btn-red'
    -# ここまでフォーム
.Botan
  =link_to '#', class: 'Botan__main' do
    .Botan__content
      .Botan__name 出品
      %svg.Botan__camera{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
        %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}

%aside.Join
  .Join__head
    = link_to '#', class: 'head__block' do
      = link_to image_tag("#" ,class:"head__block__img"),""
      .head__block__text
        スマホでかんたんフリマアプリ
        .head__block__content 今すぐ無料ダウンロード！
  .Join__main
    .main__block
      .main__block__right
        .main__text__up スマホでかんたんフリマアプリ
        .main__text__down 今すぐ無料ダウンロード！
        .main__icon
          = link_to image_tag("logo_red.svg", size:"100x100" ,class:"sc-feryYK.jSTnBt"),""
          =link_to 'https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8', class: 'vsc-cJOK.lgmdCB' do
            = link_to image_tag("#" ,class:"sc-ccSCjj.sc-jKmXuR.kDwjrS"),""
          =link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: 'sc-cJOK.lgmdCB' do
            = link_to image_tag("#" ,class:"sc-ccSCjj.sc-elNKlv.fofvah"),""
      %figure.sc-bYwvMP.kzQJRg
        = link_to image_tag("#" ,class:"sc-hUMlYv.cYtUcH"),""
%footer
  .footer-wrap
    .footer-wrap__body
      .footer-wrap__body__cel--about
        %h2 メルカリについて
        %ul
          %li
            = link_to "会社概要（運営会社）", root_path
          %li
            = link_to "採用情報", root_path
          %li
            = link_to "プレスリリース", root_path
          %li
            = link_to "公式ブログ", root_path
          %li
            = link_to "メルカリロゴ利用ガイドライン", root_path
          %ul.footer__link-icon
            %li
              = link_to root_path do
                %i.fa.fa-twitter-square
            %li
              = link_to root_path do
                %i.fa.fa-facebook-square

      .footer-wrap__body__cell--help
        %h2 ヘルプ＆ガイド
        %ul
          %li
            = link_to "メルカリガイド", root_path
          %li
            = link_to "らくらくメルカリ便", root_path
          %li
            = link_to "ゆうゆうメルカリ便", root_path
          %li
            = link_to "大型メルカリ便", root_path
          %li
            = link_to "車体取引ガイド", root_path
          %li
            = link_to "メルカリあんしん・あんぜん宣言！", root_path
          %li
            = link_to "偽ブランド品撲滅への取り組み", root_path
          %li
            = link_to "メルカリボックス", root_path

      .footer-wrap__body__cell--rules
        %h2 プライバシーと利用規約
        .footer-wrap__body__cell--rules-box
          .footer-wrap__body__cell--rules-box--cell
            %ul
              %li
                = link_to "プライバシーポリシー", root_path
              %li
                = link_to "メルカリ利用規約", root_path
              %li
                = link_to "あんしんスマホサポート制度に関する利用特約", root_path
              %li
                = link_to "コンプライアンスポリシー", root_path
          .footer-wrap__body__cell--rules-box--cell
            %ul
              %li
                = link_to "個人データの安全管理に係る基本方針", root_path
              %li
                = link_to "特定商取引に関する表記", root_path
              %li
                = link_to "資金決済法に基づく表示", root_path
              %li
                = link_to "法令順守と犯罪抑止のために", root_path
              %li
                = link_to "返金・返信ポリシー", root_path
      .footer-wrap__body__cell--country
        %h2 国
        %ul
          %li
            = link_to "日本",root_path
          %li
            = link_to "United States",root_path


  .footer-wrap__bottom
    .picture
      = link_to image_tag("logo_gray.svg"), ''
    %p
      %small © 2019 Mercari