= render "shared/header"
.breadcrumb
- breadcrumb :prof
= render "shared/breadcrumb"

.full-page
  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head プロフィール
        %form{:action => "https://www.mercari.com/jp/mypage/profile/", :method => "POST"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "0071175018f21679240b7278801f54c1d632775a92357372f271a66593603709a22dc7472ed18e3d507ab01782d42836fc6d926abc54352538ce971c32bc137a4"}/
          .setting-profile-icon
            %figure
              %img{:height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
            %input.input-default{:name => "nickname", :placeholder => "例)AYA☆セール中", :type => "text", :value => "じゅんき"}/
          .setting-profile-content
            %textarea.textarea-default{:name => "introduction", :placeholder => "例）こんにちは☆　ご覧いただいて有難うございます！　エラーに負けず頑張ろう！"}
            %input{:name => "after_save_callback", :type => "hidden", :value => "https://www.mercari.com/jp/mypage/profile/"}/
            %button.btn-default.btn-red{:type => "submit"} 変更する
    = render "shared/sideber"
.Botan
  = link_to '#', class: 'Botan__main' do
    .Botan__content
      .Botan__name 出品
      %svg.Botan__camera{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 18 16", :width => "18"}
        %path{:d => "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", :fill => "currentColor", "fill-rule" => "nonzero"}
= render 'shared/fakefooter'
= render 'shared/footer'