%header
  .headernav
    .main
      .main__content
        .main__logo
          = link_to image_tag( "fmarket_logo_white.svg" ), '#'
        %form.form__action__search{action: "#"}
          %input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: "", class: "form__text"}
            %input{class: "sbtn", type: "submit", value: "検索"}
    .main__category
      - if user_signed_in?
        %ul.search-menu__show
          %li.search-menu__show__list.category
            %h3.show__category
              = link_to do
                %i.fas.fa-list-ul
                カテゴリーから探す
          %li.search-menu__show__list.brand
            %h3.show__brand
              = link_to '#', class: 'search-menu__show__list__text' do
                %i.fas.fa-tag
                ブランドから探す
        .main__menu__show
          = link_to user_path(current_user), class: 'main__menu__show__btn' do
            マイページ
      - else      
        %ul.search-menu
          %li.search-menu__list.category
            %h3.category
              = link_to '#', class: 'earch-menu__list__text' do
                %i.fas.fa-list-ul
                カテゴリーから探す
          %li.search-menu__list.brand
            %h3.brand
              = link_to '#', class: 'search-menu__list__text' do
                %i.fas.fa-tag
                ブランドから探す
        .main__menu
          = link_to new_user_registration_path, class: 'main__menu__new' do
            新規会員登録
          = link_to new_user_session_path, class: 'main__menu__login' do
            ログイン