.registration-container
  = render 'shared/regi_header'
  .registration-container__main
    .login-container
      .login-container__noaccount
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", "https://www.mercari.com/jp/signup/?after_save_callback=%2Fjp%2F", class: "newbtn"
      .login-container__form
        %button{type: "submit", class: "btn-default"} facebookでログイン
        %button{type: "submit", class: "btn-default"} googleでログイン
      
      = form_for(resource, as: resource_name, url: session_path(resource_name), action: '/login/', method: 'POST', novalidate: 'novalidate') do |f|
        .login-container__inner
          .login-container__group
            = f.email_field :email, { class: 'signup-main__login-input-text signup-main__input-default', placeholder: 'メールアドレス', autofocus: 'true', autocomplete: 'email' }
          .login-container__group
            = f.password_field :password, { class: 'signup-main__login-input-text signup-main__input-default', placeholder: 'パスワード', autocomplete: 'current-password' }
            = f.submit 'ログイン', class: 'signup-main__login-submit signup-main__btn-default signup-main__btn-red'
          = link_to '#' do
            パスワードをお忘れの方
  .registration-container__footer
    .registration-container__nav
    = render 'shared/regi_footer'