.signup-container
  %header.signup-header
    %h1
      = link_to root_path do
        = image_tag 'fmarket_logo_white.svg'

  .registration-container__main
    .login-container
      .login-container__noaccount
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path, class: "newbtn"
      .login-container__form
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--facebook{id: 'signup-main__facebook-login' }
          = link_to user_facebook_omniauth_authorize_path, style:'color:white' do
            facebookでログイン
        %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--google{ id: 'signup-main__google-login' }
          = link_to user_google_oauth2_omniauth_authorize_path, style:'color:black' do
            googleでログイン
      
      = form_for(resource, as: resource_name, url: session_path(resource_name), action: '/login/', method: 'POST', novalidate: 'novalidate') do |f|
        .login-container__inner
          .login-container__group
            = f.email_field :email, { class: 'signup-main__login-input-text signup-main__input-default', placeholder: 'メールアドレス', autofocus: 'true', autocomplete: 'email' }
          .login-container__group
            = f.password_field :password, { class: 'signup-main__login-input-text signup-main__input-default', placeholder: 'パスワード', autocomplete: 'current-password' }
            = f.submit 'ログイン', class: 'signup-main__login-submit signup-main__btn-default signup-main__btn-red'
          = link_to '#' do
            パスワードをお忘れの方
            
  .signup-footer
    %nav
      %ul.clearfix
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            メルカリ利用規約
        %li
          = link_to root_path do
            特定商取引に関する表記
    = link_to root_path, class: 'signup-footer__logo' do
      = image_tag 'fmarket_logo_white.svg', alt: 'mercari', height: '65', width: '80'
    %p
      %small
        © 2019 Mercari 