.registration-container
  = render 'shared/regi_header'
  .registration-container__main
    .login-container
      .login-container__noaccount
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", "https://www.mercari.com/jp/signup/?after_save_callback=%2Fjp%2F", class: "newbtn"
      .login-container__form
        %button{type: "submit", class: "btn-default"} facebookでログイン
        %button{type: "submit", class: "btn-default"} googleでログイン
      
        .login-container__inner
          .login-container__group
            %input{type: "email", name: "email", placeholder: "メールアドレス"}
          .login-container__group
            %input{type: "password", name: "password", placeholder: "パスワード"}
          .login-container__group
            .login-container__group--recaptcha
          %input{type: "checkbox", name: "check"}私はロボットではありません
          = link_to 'user_path', class: 'button' do
            ログイン
          = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/"
  .registration-container__footer
    .registration-container__nav
    = render 'shared/regi_footer'