= render 'shared/header2'
.breadcrumb
- breadcrumb :detail
= render "shared/breadcrumb"
.item__details
 %h2.item-name.bold
  = @item.name
 .item__details__main-content
  .item__details__main-content-boxes
   .item__details__main-content-boxes__subject.back-silver
    .sold-item-big
     .sold-item--text-big
      = image_tag @item.item_images.first.image, alt: @item.name, size: '300x300'
    .photos
     .photos--small
      -# - @item.item_images.each do |image|
       %img.sub{src: image.image, size: '50x50'}/

   %table.item-detail-table
    %tr
     %th.back-silver 出品者
     %td
      = link_to root_path do
       = @user.nickname
      .user-rating
       .item-user-ratings
       %i.fas.fa-laugh
        %span 100
       .item-user-ratings
       %i.fas.fa-meh
       %span 0
       .item-user-ratings
       %i.fas.fa-frown
       %span 0
    %tr
     %th.back-silver カテゴリー
     %td
      .item-detail-table-sub-category
      %i.fa.fa-chevron-right.items-link_to
      = link_to "ジャケット/アウター", class: "items-link_to" do
       = link_to @category.name
      -# .item-detail-table-sub-sub-category
      -# %i.fa.fa-chevron-right.items-link_to
      -# = link_to "ダウンジャケット", class: "items-link_to" do
      -#  = @item.middle_category
    %tr
     %th.back-silver ブランド
     %td
      -# = link_to @item.brand.name, class: "items-link_to"サーバーサイド未完成のためコメントアウト
      CK
    %tr
     %th.back-silver 商品のサイズ
     %td
      M
    %tr
     %th.back-silver 商品の状態
     %td
      = @condition.value
    %tr
     %th.back-silver 配送料の負担
     %td
      = link_to @delivery_charge.value
      -# = @item.postage.burdenサーバーサイド未完成のためコメントアウト
      送料こみ（出品者負担）
    %tr
     %th.back-silver 配送の方法
     %td
      -# = @item.delivery_method.methodサーバーサイド未完成のためコメントアウト
      ゆゆメルカリ便
    %tr
     %th.back-silver 発送元地域
     %td
      = link_to @prefecture.name
    %tr
     %th.back-silver 発送日の目安
     %td
      = link_to @delivery_days.value
 .item-price-box
  %span.item-price.bold 
   = @item.price 
   円
  %span.item-tax (税込)
  %span.item-shipping-fee 送料込み
  -# - if @item.item_state_id == 3サーバーサイド未完成のためコメントアウト
   = link_to "売り切れました", root_path, class: "buy-btn status-gray",method: :get
  -# - elsif user_signed_in? && (@item.user_id != current_user.id) && @item.item_state_id == 1サーバーサイド未完成のためコメントアウト
   = link_to "購入画面へ進む", "/transaction/buy/#{@item.id}", class: "buy-btn, status-red",method: :get
  -# - unless user_signed_in? || @item.item_state_id == 3サーバーサイド未完成のためコメントアウト
   = link_to "購入画面へ進む", user_session_path, class: "buy-btn, status-red", method: :get

 .item-description
  %p.item-description-inner
  -#  = @item.descriptionサーバーサイド未完成のためコメントアウト
.item-edit__box
 .item-edit__box-main
 - if user_signed_in? && (@item.user_id == current_user.id)
  .item-edit__box__price.back-red.font-white
   = link_to "商品の編集", edit_item_path , method: :get
  .item-edit__box__or or
  .item-edit__box__main-contents
   = form_tag("#", method: :post, action: :stop) do
    %span.font-white 出品を停止する
  .item-edit__box__main-contents__button
   %button{type: "submit", class: "submit", id: "openModal"}
   /削除ボタン追加
   = link_to "この商品を削除する", item_path(@item), method: :delete
 - else
  .item-button__right.items-link_to
   = link_to '購入画面に進む', purchase_index_path(@item.id), class: 'itembuy-price-box', id: 'itembuy-price-box__decoration'
  .item-button-container
   .item-button-container__left
    %button{name: "like", type: "button"}
     %i.far.fa-heart
     %span いいね！
     %span
      -# = @item.likes_countサーバーサイド未完成のためコメントアウト
    %button{name: "report", type: "button"}
     %i.far.fa-flag
     %span 不適切な商品の報告


  .item-edit__box__main-contents__message
  .message-content__box
.next_or_back
 .previous-product.items-link_to
  -# =fa_icon "#"サーバーサイド未完成のためコメントアウト
  = link_to "前の商品へ", "#"
 .next-product.items-link_to
  = link_to "次の商品へ", "#"
  -# = fa_icon "#"サーバーサイド未完成のためコメントアウト

.item-snsbox
 .sns
  .facebook
   %i.fab.fa-facebook-square
  .twitter
   %i.fab.fa-twitter-square
  .pinterest
   %i.fab.fa-pinterest-square
= render 'shared/fakefooter'
= render 'shared/footer'